In [69]:
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import math
import datetime
import seaborn as sns
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [70]:
df = pd.read_csv('https://raw.githubusercontent.com/xxiang27/sikkaAIHackathon/main/data_file.csv')
df.head()

   id  month  year  visits  no_of_appts  production
0  34      3  2014       1          960       76.55
1  34      4  2014     488         1089   106333.80
2  34      5  2014     831          993   192230.40
3  34      6  2014     753          884   163515.12
4  34      7  2014     721          797   160185.90

In [71]:
df['day'] = 1
dates = pd.to_datetime(df[['month', 'year','day']].copy())
dates.head()

0   2014-03-01
1   2014-04-01
2   2014-05-01
3   2014-06-01
4   2014-07-01
dtype: datetime64[ns]

In [72]:
df_final = pd.concat([dates, df],axis=1)
df_final = df_final.drop(columns = ['month', 'year', 'day'])
df_final.columns.values[0] = 'date'
df_final.set_index('date', inplace = True)
df_final.index = pd.DatetimeIndex(df_final.index).to_period('M')

In [73]:
df_final.head()

         id  visits  no_of_appts  production
date
2014-03  34       1          960       76.55
2014-04  34     488         1089   106333.80
2014-05  34     831          993   192230.40
2014-06  34     753          884   163515.12
2014-07  34     721          797   160185.90

In [95]:
# separate dataframe into separate dataframes for each practice 

import math 
import copy

def separate(df):
  '''takes a dataframe return a list of dataframes mapped to id'''
  df_dict = {}
  grouped = df.groupby(df.id)
  for i in range(1, 285):
    df_dict[i] = grouped.get_group(i)
  return df_dict

def train_test_split(df_dict, add_test):
  '''takes a list of dataframes and returns the time series train and test split based on the percent'''
  test_set = {}
  for id, df in df_dict.items():
    df_add = df.tail(add_test).copy()
    test_set[id] = df_add
    df.drop(df.tail(add_test).index, inplace = True)
  return df_dict, test_set

def make_predictions(df_train):
  make_predictions = {}
  for id,df in df_train.items():
    X = df['production']
    #print(X)
   # X.set_index('date', inplace=True)
   # id = df.iloc[0, 1]
    #X.rename(columns={"date": "ds", "production": "y"}, inplace = True)
    my_order = (1, 1, 1)
    my_seasonal_order = (1, 1, 1, 12)
    
    model = sm.tsa.statespace.SARIMAX(X,order = my_order, seasonal_order = my_seasonal_order, enforce_stationarity=False, enforce_invertibility=False)
    start_params = np.r_[[0] * (model.k_params - 1), 1]
    model_fit = model.fit(start_params = start_params)
    yhat = model_fit.predict(start = len(df), end = len(df)+3)
    make_predictions[id] = yhat
  return make_predictions 
    
def MAPE(y_true, y_pred):
	return np.mean(np.abs((y_true - y_pred)/y_true))*100

# need to make both of them dictionaries 
def score(predictions, actual):
  scores = []
  cate = [0,0,0,0]
  for i in range(1, 285):
    score = MAPE(actual[i]['production'].to_numpy(), predictions[i].to_numpy())
    scores.append(score)
    print(score)
    if score <= 5:
      cate[0] += 1
    elif score > 5 and score <=10:
      cate[1] += 1
    elif score >10 and score <= 15:
      cate[2] += 1
    else:
      cate[3] += 1
  total_score = (cate[0]/284 * 2) + (cate[1]/284 * 1) + (cate[2]/284 * -1) + (cate[3]/284 * -2)
  return scores, total_score 


def dentistry_season(ds):
  date = pd.to_datetime(ds)
  # high traffic
  if date.month in [11,12,1,2]:
    return 3 
  # med traffic
  if date.month in [8, 10,7, 4]:
    return 2
  # low traffic
  if date.month in [3,5,6,9]:
    return 1

In [75]:
df_dict = separate(df_final)
train, test = train_test_split(df_dict, 4)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [76]:
%%capture
preds = make_predictions(train)

In [96]:
score, total = score(preds, test)

7.099860146331712
87.67476374629794
2.104884154172347
47.03476926469957
14.273665659757818
22.80731806527877
47.33781712671022
9.592466875806581
21.350879742238718
11.67535202266086
34.158814309979135
11.399666967294209
23.247863850654486
30.831431321648267
39.40226636357519
9.355635396869037
32.565118448525304
6.923732941270836
33.37373602460976
21.79670196814567
16.227171793071953
14.919556341572404
8.344170518293367
17.210003676638962
172.13832025947644
20.591550738916204
14.143040462043968
17.601392351936656
73.323637381003
13.762645792416672
15.91844059007152
10.607061065796767
10.675724318309335
12.318496031869183
14.696731110267319
24.046243323256654
32.28887044526165
24.055767009005322
8.748381253454756
16.229952787187482
33.26528065910097
21.42834261794925
19.26505359786913
20.704646094453192
46.32812200421525
22.394226479483955
7.191797926077998
31.673562533828953
52.90067536288622
18.003527125995245
33.70337042265727
7.331540929079513
25.924337495531102
11.954871862471295
17.58051744945208
38.753270762118284
86.8796840788661
16.663055103977207
7.8616438349376345
17.123275664415644
25.92958113361778
40.0846477091368
21.410527013845407
17.304366653479647
14.447978233761221
55.971672173672424
15.345624408434233
34.124759640825516
40.330829998639075
26.924704316833058
58.184193828196605
15.971797671702598
10.095581237838266
10.312198001504594
12.07100114817976
15.591009124911928
3.732331177411047
16.295812096916443
11.563195303060194
9.708012852766986
67.2055638910494
18.1466727873094
16.522922969328018
18.66617138231494
10.121405022027188
21.704731733338647
7.302210419723615
3.3439937338804224
9.408621961486958
14.334028878429722
12.463096989347951
26.83762953526677
78.81813071893869
4.863513461488189
278.2166318427773
44.50376237790109
15.3152837776511
23.025717802032332
14.134790859238114
8.497082165338247
5066485.467230526
41.199065314797934
33.671735768788295
16.547387448892042
18.019625583352035
13.70579558781275
10.90409483428971
13.314087285110016
24.502788028166357
36.771517114016476
26.586116098054045
26.260690636679374
15.87054499274861
17.745937984822064
4.45937991759042
8.741148565600575
11.833854608295491
10.661310860609376
83.05188996860575
14.728358993162132
20.164631218918245
26.59701134061494
16.463129171041402
16.644051044414695
15.377305626940668
84.58786233062725
26.806572453534823
11.964847591165872
7.992555970107473
22.84661134965829
17.817035111156116
13.653279037485234
21.04212055263118
22.398028672102832
11.52485194149124
11.736997280467516
5.66828237102188
30.602038011106785
23.869887913034855
12.333242384489768
27.72621882534504
13.369354871458427
23.71871216068353
23.223013530158816
33.58298392876224
13.220526614549192
11.017344248689515
18.930107958593126
23.813993207085044
19.309824476610626
58.280807256843744
12.92775713883518
562.4504007568612
34.01447428164464
25.677877422401373
12.054226900117337
12.021500490087778
33.6894673950989
25.79363322264394
42.79769666920517
10.521944784181155
36.196713270111175
36.48402982263109
22.55195173298633
45.28298453201769
11.560848721141994
28.988673302375506
10.463775068638466
39.46725541659833
33.011601420184356
22.3104465882093
44.211681547014905
15.762846028827425
31.36498335176644
14.917278524008282
13.706520271500274
37.878245081828396
7.29276425792567
8.44820861119985
4.933076336370698
17.9476666426228
16.850496137389058
6.789513590860204
23.069113818385933
25.908010962762035
35.88498340306532
59.78759787835624
16.288978695998725
8.172277446712137
8.090279768314208
35.144703056930084
10.230823511566477
14.748716779961438
13.64403350644629
20.397494918664112
16.02582354694668
20.028579342554536
32.882110703083576
38.03628689495543
17.19453629104569
10.642151631060178
13.297342269314205
23.546321551350736
9.464687195096957
5.523626293801029
21.142883743524482
64.97226067329127
53.680513270713035
8.561673781397046
18.644473595238907
25.977332079875353
28.165185095494966
12.080470325991314
10.566312201547843
27.937197135968205
10.651739650909114
64.17705395578636
30.710458139496875
10.536748281676871
13.91728542808539
23.32284731775359
6.056027625714099
41.864049810875976
12.1574146618612
86.8796840788661
23.688520019829994
8.601873997137215
17.94867101601963
22.87317638518427
49.41640068231745
19.586023043034682
30.53109380502843
11.393099087186966
33.3189310054688
15.134614464879506
26.137915376646653
31.86180296418204
11.62778368127831
26.375076975670908
27.937197135968205
18.020680654762927
12.40281408196214
106.31592027623924
17.246807875558822
19.573340916190883
13.45192732088
41.123589740763286
16.385656555101054
8.025043452340283
24.26675677868507
7.15862365395255
8.166816738872676
22.67246608786026
20.305582928905462
30.642394739395197
28.22554763565141
62.41771874963855
14.929305663994022
12.227066859081972
26.06144678287366
29.460735541888482
14.706954630875085
30.18922744783189
29.974115684242886
23.098648982693742
9.478565450209642
53.0684220296011
56.802982505154866
38.26159491898157
22.813357430789743
40.59057201712374
7.6804853883188375
10.763885035596946
18.082718997682147
2.104884154172347
31.319673556640048
17.86283345148516
10.963300036870887
22.57787109732785
21.14252510716218
47.265560985673524
30.734723014181924
118.75811371362973
22.44993552248493

In [94]:
total

-1.3556338028169015

In [82]:
preds[3]

2020-09    282358.934159
2020-10    288889.652623
2020-11    300314.131213
2020-12    236852.560035
Freq: M, dtype: float64

8.253632029007123
72.56362114672078
2.104884154172347
38.194361601437585
nan
22.80731806527877
47.33781712671022
9.592466875806581
nan
11.67535202266086
nan
nan
nan
30.130780285041592
38.66962707702065
nan
nan
6.923732941270836
nan
21.79670196814567
9.260299523504575
nan
8.344170518293367
17.210003676638962
27.37418511406539
20.591550738916204
14.143040462043968
9.558775861761735
7.0664156932673485
18.784288842079384
13.882637150343552
nan
nan
12.318496031869183
14.696731110267319
14.941068635427367
19.42062168724282
nan
nan
28.952725176591144
nan
16.209408626456057
12.724134767726813
nan
36.26885219317077
22.394226479483955
nan
23.954812422032763
52.90067536288622
nan
33.70337042265727
7.331540929079513
25.924337495531102
8.657702898038293
nan
29.531777692718393
257.9094198933862
16.663055103977207
2.932054712419845
17.123275664415644
nan
nan
21.410527013845407
nan
4.651979058771152
nan
15.345624408434233
nan
40.330829998639075
16.210093788484016
58.184193828196605
nan
10.095581237838266
10.312198001504594
2.4419674722466245
22.14207797966943
3.732331177411047
16.295812096916443
nan
7.222992140779949
nan
nan
19.396682537036632
nan
10.121405022027188
21.704731733338647
nan
3.3439937338804224
9.376551222549123
nan
12.652113220211723
nan
nan
11.63455686720139
14.722465045939327
nan
18.175267294261708
23.32045054877863
16.035364277845872
8.497082165338247
5066485.467230526
31.61909131893369
24.708360374648496
15.849995864047534
18.453581584737165
13.434673827344623
11.753981840889242
13.314087285110016
nan
nan
4.226659059686502
26.260690636679374
15.87054499274861
nan
4.45937991759042
3.1604544259385374
14.204733312062153
5.3847991523638905
55.862126052027975
5.951831060726969
nan
26.59701134061494
nan
16.644051044414695
10.364601417080667
131.49653941987555
26.806572453534823
4.761629732244532
nan
nan
nan
nan
nan
22.398028672102832
nan
nan
3.289089053630411
25.312449329259834
23.869887913034855
13.91621386059311
25.282318734049404
17.877874640149926
23.71871216068353
23.223013530158816
nan
nan
11.017344248689515
nan
22.822267369180093
nan
58.280807256843744
nan
1042.4677789950154
nan
2.536149320230139
nan
9.39150853191714
16.62819709114096
15.619052336394729
nan
10.521944784181155
32.541397090581405
nan
22.55195173298633
nan
14.278639678627215
28.988673302375506
10.463775068638466
39.46725541659833
30.333516197914644
2.7245933123890365
33.38493252692162
15.762846028827425
23.603403151534753
17.20539909845149
18.973312537994378
nan
8.98090716834012
8.44820861119985
nan
15.629458941987851
16.34559796547957
9.596640798777434
17.675891751804954
13.0311872309765
nan
29.962384025656068
16.288978695998725
8.172277446712137
8.090279768314208
19.654584062554946
11.260229895843327
14.748716779961438
17.079252604303896
17.885925424334705
6.346656172788732
2.5669712933427333
32.882110703083576
38.03628689495543
11.933302758703595
17.727787787045052
nan
15.13408787627456
nan
5.523626293801029
18.023975254081748
35.98600778413111
53.680513270713035
8.561673781397046
20.53117203734802
10.707184243243862
nan
12.080470325991314
nan
27.937197135968205
13.144229749923737
47.34903731476538
23.538864287795697
nan
13.91728542808539
24.64960079772616
6.056027625714099
66.16523757150108
13.912215678147458
257.9094198933862
nan
8.601873997137215
17.94867101601963
22.87317638518427
49.41640068231745
nan
30.53109380502843
7.785534831879638
nan
12.197134759218121
15.838357003672265
39.03535236190062
nan
23.41692838992686
27.937197135968205
nan
5.538719040374437
106.31592027623924
nan
19.573340916190883
7.143849861884004
nan
16.385656555101054
4.124002861076216
24.26675677868507
7.15862365395255
nan
16.532803170660852
nan
11.357757630767901
12.972895670717755
nan
14.929305663994022
12.227066859081972
25.154339556195065
18.350428101034925
nan
30.18922744783189
12.525729579553408
nan
9.478565450209642
63.39264132628085
34.07084403614149
nan
22.813357430789743
25.773745593814056
10.363553670405112
10.763885035596946
18.082718997682147
2.104884154172347
nan
11.117568665024747
10.963300036870887
17.697061564210024
18.13504932057235
22.622836322613786
23.36569876844884
73.64135888046732
18.822052924080946

In [90]:
test[4]

         id  visits  no_of_appts  production
date
2020-09   4     152            8    45013.02
2020-10   4     163            1    62401.47
2020-11   4     175            5    74851.50
2020-12   4     178            8    82803.24

In [91]:
preds[4]

2020-07    30200.083266
2020-08    35914.710475
2020-09    17562.369281
2020-10    52788.572340
Freq: M, dtype: float64

In [97]:
[1,2,3,4]*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [98]:
np.array([1,2,3,4]) + [1,2,3,7]

array([ 2,  4,  6, 11])